:root {
    --screen-height: 100vh;
    --content-height: calc(var(--screen-height) - 56px);
}

#content-div {
    height: var(--content-height);
}

.logo-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.tops-tr {
    vertical-align: middle;
    text-align: center;
}

.tops-il {
    text-align: justify;
}

#usmt-map {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* calc(var(--content-height) * 0.9); */

body {
    background-color: #b9f678;
}

#usmt-navbar {
    min-height: 40px;
}

/* .vis-config-item{
    width: 100% !important;
}

.vis-configuration{
    width: 100% !important;
} */

/* .vis-config-label{
    width: 100% !important;
} */

/* @media screen and (max-width: 950px) {
    #map-selection {
        margin-top: 20px !important;

    }

}

#map-selection {
    margin-top: 26.6vh;
}

input,
label {
    justify-content: center;
    text-align: center;
} */