{% macro flash_message (msg, category) %}

{% if category == "error" %}

<div class="alert alert-danger alter-dismissable fade show" role="alert">
  {{ msg }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% else %}

<div class="alert alert-success alter-dismissable fade show" role="alert">
  {{ msg }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}
{% endmacro %}

{% macro dropdown_list (name,options, default) %}
<div class="form-floating">
  <select class="form-select" id="{{name}}">
    <option selected value="{{default}}">{{ default }}</option>
    {% for option in options %}
      <option value="{{option}}">{{option}}</option>
    {% endfor %}
  </select>
  <label for="{{name}}">Works with selects</label>
</div>

{% endmacro %}