<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet"> -->

  <!-- dataTables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
  <!-- leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <link href="../styles/style.css" rel="stylesheet">
  <title>USMT | {% block title %}Título{% endblock %}</title>


  {% block head %}{% endblock %}
</head>


<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" id="usmt-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Urban Street Mapping Transfer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/map">Mapas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/category_net">Visualización de Red</a>
          </li>
        </ul>

        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Usuarios
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              {% if usuario is none or usuario is not defined %}
              <li><a class="dropdown-item" href="/login">Iniciar Sesión</a></li>
              <li><a class="dropdown-item" href="/signup">Registrarse</a></li>
              {% else %}
              <li><a class="dropdown-item" onclick="logout()">Cerrar Sesión</a></li>
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              {% endif %}

            </ul>
          </li>
        </ul>
        <!-- <img src="imgs/Globe_icon.svg.png" style="width: 1000px; height: 40px;"> -->


      </div>
    </div>
  </nav>
  {% block flashes %}
  {% endblock %}
  <div class="container-fluid g-0" id="content-div">
    {% block content %}
    contenido
    {% endblock %}
  </div>
  <!-- Scripts-->
  <!-- <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script> -->
  <!-- leaflet -->
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="" defer></script>
  <!-- fontawesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"
    defer></script>
  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" defer></script>
  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <!-- datatables -->
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" defer></script>
  <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js" defer></script>
  {% block scripts %}
  {% endblock %}
  <script>
    function logout() {
      fetch('/logout', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({})
      })
        .then(response => {
          if (response.redirected) {
            window.location.href = response.url;
          }
        });
    }
  </script>
</body>
</html>