{% extends "./base.html" %}

{% block title %}
Category Net
{% endblock %}

{% block head%}

<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

{% endblock %}

{% block content%}


<div class="container-fluid" style="background-color: #222222;">
  <div class="row" style="height: 90vh;">
    <div class="col-md-12 col-lg-10 h-100" id="network_visualization">
      <div id="loading_spinner" class="spinner-border spinner-border-sm text-success"
        style=" width: 10rem ;height: 10rem ;" role="status">
      </div>
    </div>
    <div class="col-md-12 col-lg-2 h-100" style="background-color: #2b3035">
      <div class="accordion accordion-flush" id="accordionFilters">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Ciudades
            </button>
          </h2>
          <div id="flush-collapseTwo"  class="accordion-collapse collapse" data-bs-parent="#accordionFilters">
            <div class="accordion-body">
              <select class="form-select" id="city-select">
                <option selected disabled>Ciudad</option>
                {% for c in cities %}
                <option value="{{c}}">{{c}}</option>
                {% endfor %}
              </select>

            </div>
          </div>
        </div>
        <div class="accordion-item" >
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Filtro por Grado
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFilters">
            <div class="accordion-body">
              <label for="degree-range" class="form-label">Grado</label>
              <input type="range" class="form-range" min="0" max="5" step="1" id="degree-range">
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseGroup" aria-expanded="false" aria-controls="flush-collapseGroup">
              Grupos
            </button>
          </h2>
          <div id="flush-collapseGroup" class="accordion-collapse collapse" data-bs-parent="#accordionFilters">
            <div class="accordion-body d-flex flex-column">
              <div class="d-flex justify-content-between">

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="shop" id="shopCheck" checked>
                  <label class="form-check-label" for="tiendasCheck">
                    <i class="bi bi-circle-fill" style="color:#97c2fc; " ></i>
                    Tiendas
                  </label>
                </div>
              </div>
              <div class="d-flex justify-content-between">

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="amenity" id="amenityCheck" checked>
                  <label class="form-check-label" for="amenityCheck">
                    <i class="bi bi-circle-fill" style="color:#ffff00; " > </i>
                    Servicios
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}


<script type="text/javascript" src="/js/network_visualization.js"></script>
{% endblock %}