{% from "macros/basics.html" import flash_message %}
{% extends "base.html" %} {% block title %}Login{% endblock%}

{% block flashes %}

  {% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}
      {% for category, message in messages %}
          {{ flash_message(message, category) }}
      {% endfor %}

    {% endif %}
  {% endwith %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
<form method="POST" action="/login">
  {{ form.csrf_token }}
  {{ form.username.label }}
  {{ form.username }}
  {{ form.password.label }}
  {{ form.password }}


  <!-- 2 column grid layout for inline styling -->
  <br />
  <!-- Submit button -->
  <div>
    <button type="submit" class="btn btn-dark btn-block mb-4">Aceptar</button>
    <p>¿No tienes cuenta?</p>
    <button type="button" class="btn btn-dark btn-block mb-4">
      <a href="/register"></a>
      Registrarse
    </button>
  </div>
</form>
</div>
{% endblock %}
