{% extends "base.html" %} {% block title %}Login{% endblock%} {% block content%}
<div class="d-flex justify-content-center">
<form method="POST" action="/login">
  <div class="col">
    <label for="validationCustomUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <span class="input-group-text">@</span>
      <input
        type="text"
        class="form-control"
        id="validationCustomUsername"
        name="username"
        aria-describedby="inputGroupPrepend"
        required
      />
      <div class="invalid-feedback">Please choose a username.</div>
    </div>
  </div>
  <div class="col">
    <label class="form-label">Password</label>
    <input name="password" type="password" class="form-control" required />
    <div class="invalid-feedback">Please provide the password</div>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <br />
  <!-- Submit button -->
  <div>
    <button type="submit" class="btn btn-dark btn-block mb-4">Aceptar</button>
    <p>¿No tienes cuenta?</p>
    <button type="button" class="btn btn-dark btn-block mb-4">
      <a href="/register"></a>
      Registrarse
    </button>
  </div>
</form>
</div>
{% endblock %}
