{% from "macros/basics.html" import dropdown_list %}
{% extends "base.html" %} {% block title %}Map{% endblock %}
{% block head %}
<link rel="stylesheet" href="/styles/leaflet.extra-markers.min.css">
<script src="/js/leaflet.extra-markers.min.js"></script>
{% endblock %}
{% block content%}

<div class="row my-2 mx-2 d-flex">
	<div id="map" class="col-lg-6 col-md-12 border border-5 border-dark rounded-3" style="height: 80vh;">

	</div>


	<div class="col-lg-6 col-md-12">
		{% block mapInfo %}
		{{ dropdown_list("city", cities, "ciudad") }}
		{{ dropdown_list("category", categories, "categoría") }}

		<button type="button" id="search_btn" class="btn btn-success col m-1">Buscar</button>
		<a href="#" id="network_button">
			<button type="button" class= "btn btn-primary col m-1">Ver Red</button>
		</a>
		<button type="button" id="analysis_button" class= "btn btn-primary col m-1">Recomendaciones</button>
		{% endblock %}
	</div>

</div>


</div>
</div>


{% endblock %}

{% block scripts%}
<script type="text/javascript" src="/js/mapping.js"></script>
{% endblock %}