{% from "macros/basics.html" import dropdown_list %}
{% extends "base.html" %} {% block title %}Recomendations{% endblock %}

{% block head %}

<script>
    const nodes = {{ nodos| tojson }}
    var defaultCoords = {{ coords }}

</script>
<link rel="stylesheet" href="/styles/leaflet.extra-markers.min.css">
<script src="/js/leaflet.extra-markers.min.js"></script>

{% endblock %}

{% block content %}
<div class="container-fluid align-items-center justify-content-center" style="margin-top: 30px;">
    <div class="row my-2 mx-2 d-flex">
        <div id="map" class="col-lg-9 col-md-12 border border-5 border-dark rounded-3" style="height: 80vh;">

        </div>


        <div class="col-lg-3 col-md-12">
            {% block mapInfo %}
            {{ dropdown_list("city", cities, "ciudad") }}
            {{ dropdown_list("category", categories, "categoría") }}
            {{ dropdown_list("metric", metrics, "métrica") }}

            <button type="button" id="metrics_button" class="btn btn-dark col m-1">Métricas</button>
            {% endblock %}
            <div id="loading" class="spinner-border text-secondary" style="display: none;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>

                <table class="table table-bordered my-5" id="metrics_table">
        <thead style="background-color: whitesmoke;">
            <th scope="col">Id</th>
            <th scope="col">Categoría</th>
            <th scope="col">Q</th>
            <th scope="col">Q raw</th>
        </thead>
        <tbody>

        </tbody>

    </table>

        </div>

    </div>

</div>
<!-- <div class="row my-2 mx-2 d-flex"> -->



<!-- </div> -->


{% endblock %}

{% block scripts%}
<script type="text/javascript" src="/js/categoryRecomendation.js"></script>
{% endblock %}