{% extends "./base.html" %}
{% from "macros/basics.html" import dropdown_list, dropdown_list_cities %}

{% block title %}
Transfer
{% endblock %}
{% block head %}
<script>
    const nodes = {{ nodos| tojson }}
    const coordsNodes = {{ nodosCoords| tojson }}
    var defaultCoords = {{ coords }}
    var city = "{{city}}"
</script>
<link rel="stylesheet" href="/styles/leaflet.extra-markers.min.css">
{% endblock %}
{% block content %}
<!-- Tablas -->

<!-- Mapa -->
<div class="row h-75 p-4 g-0">
    <div id="usmt-map" class="border border-5 border-dark-subtle rounded-1" style="box-sizing: border-box;"></div>
</div>

<div class="row p-5 g-0">
    <div>
        {{ dropdown_list_cities("ciudad", cities, "ciudad") }}
        <button type="button" id="metrics_button" class="btn btn-dark col m-1" disabled><i class="bi bi-bar-chart-fill"></i>
            Métricas</button>
        <div class="form-floating my-2 ">
            <select class="form-select" id="method-dropdown" title="método" disabled>
                <option value="" disabled selected>Método</option>
                <option value="Qjensen">Jensen</option>
                <option value="Qjensen_raw">Jensen Raw</option>
                <option value="Qperm">Permutation</option>
                <option value="Qperm_raw">Permutation Raw</option>
                <option value="random_forest">Random Forest</option>
            </select>
            <label for="Método" style="z-index: 0;">Método</label>
        </div>
        <div  id="loading-div" style="display: none;">
            <p>Se están realizando calculos, espere y seleccione un método... </p>
            <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              
        </div>

    </div>

    <table id="tops-table" class="table table-dark table-hover table-responsive" style="table-layout: auto;">
        <thead >
            <tr class="text-center" >
                <th colspan="3">Mejores Categorías</th>
            </tr>
            <tr style="text-align: center;">
                <th>#</th>
                <th>Categoría</th>
                <th>Tops</th>
            </tr>
        </thead>
        <tbody>
            <tr colspan="8">
                <td colspan="8" class="text-center">
                    <div class="spinner-border text-success" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
{% block scripts %}
<script src="/js/leaflet.extra-markers.min.js" defer></script>
<script type="text/javascript" src="/js/recommendation/transfer/QualityIndicesFull.js" defer></script>
<script type="text/javascript" src="/js/recommendation/PlaceMarker.js" defer></script>
<script type="text/javascript" src="/js/recommendation/loadMapWithLocations.js" defer></script>
<script type="text/javascript" src="/js/recommendation/transfer/transfer.js" defer></script>

{% endblock%}